/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

 .h1Font {
    font-family: Pacifico, cursive;
    font-size: 4rem;
 }
 
 .customIntroText{
   border-bottom: 0.5rem solid;
   border-color: rgb(239 68 68);
 }